<template name="playground">
    <h1>COMMENT TEST</h1>

    <form class="input-group">
      <input autocomplete="off" type="text" id="commentform" class="form-control" placeholder="Comment...">
      <span class="input-group-btn">
            <button type="submit" class="btn btn-success" id="comment">Send</button>
      </span>
    </form>


    {{#each comments}}
        {{> comment}}
    {{/each}}
</template>

<template name="comment">
    <div>{{name}}: {{comment}}</div>
</template>