<template name="testing">
        <button id="abutton">Reset all points</button>
        <li>
            <button id="poeng">Add points</button>
        </li>
    <div class="outer">
        {{> leaderboard}}
    </div>
</template>

<template name="leaderboard">
    <ol class="leaderboard">
        {{#each playerinfo}}
            {{> player}}
        {{/each}}
    </ol>
</template>

<template name="player">
    <li class="player">
        <span class="name">{{userName}}</span>
        <span class="score">{{score}}</span>
    </li>
</template>